{% extends  'admin/index.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="mt-2 mt-4 p-3 border shadow">
              <div class="mt-1 mb-3">
                <h4 class="ml-2 font-weight-bold d-block text-secondary">New Category</h4>
                <hr/>
              </div>
              <form class="form" method="POST" action="/admin/categories">
                <div class="form-group">
                  <label for="">category</label>
                  <input type="text"  name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">description</label>
                    <textarea type="text"  name="description" class="form-control" required></textarea>
                </div>
                <div class="p-2">
                  <button class="btn btn-sm btn-primary" type="submit">Create</button>
                </div>
              </form>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="p-3 mt-4 shadow-sm font-weight-bold border">Categories</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="adminTable">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>created_date</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {% for category in data %}
          <tr>
            <td>{{ category.id }} </td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.created_date }}</td>
            <td>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModalCenter_{{ category.id }}">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModalCenter_{{ category.id }}">Trash</button>
            </td>
          </tr>

          <!-- update modal -->
          <div class="modal fade" id="editModalCenter_{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Advertisement - {{ advert.id }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form" method="POST" action="/admin/categories/update">
                    <input type="hidden" name="category_id" value={{ category.id }}>
                    <div class="form-group">
                      <label for="">category</label>
                      <input type="text"  name="name" class="form-control" required value={{ category.name }}>
                    </div>
                    <div class="form-group">
                        <label for="">description</label>
                        <textarea type="text"  name="description" class="form-control" required>{{ category.description }}</textarea>
                    </div>
                    <div class="p-2">
                      <button class="btn btn-sm btn-primary" type="submit">Update Category</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- delete modal -->
          <div class="modal fade" id="deleteModalCenter_{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete category? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form name="message_form" class="message_form" method="POST" action="/admin/categories/delete">
                    <input type="hidden" name="category_id"  value={{ category.id }} />
                    <div class="modal-body">
                        <div class="p-2">
                          <span class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</span>
                          <input type="submit" class="btn btn-danger btn-sm float-right" value="Delete">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          {% endfor %}
        </tbody>
      </table>
    </div>
        </div>
  </div>
{% endblock %}