{% extends  'advert_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-4">
            <div class="jumbotron">
                <h2>Compose Message</h2>
            </div>
        
            <form class="form border p-2 shadow-sm bg-light" method="post" action="/message" enctype="multipart/form-data">
                <p>Please select Recipient:</p>
                <select name="user_to" class="form-control">
                    {% for user in all_users %}
                        <option value="{{ user.id }}">
                            {{ user.first_name }}
                            {{ user.last_name }}
                            {{ user.username }}
                        </option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <label for="name">Message</label>
                    <input type="text" class="form-control" name="message" placeholder="add article here..." required><br>
                </div>
                <input type="hidden" name="user_from" value=1>
                
                <div class="border p-2 bg-white rounded">
                    <button type="submit" class="btn btn-primary">
                        Send Message
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}