<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adshare</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />

    

    <!-- Custom styles for this template -->
    <link href="/css/adverts-home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 5px solid #cec943;">
      <div class="container">
        <a class="navbar-brand" href="/">Adshare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/advert">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Messages 
                  <span class="badge badge-danger message_badge">0</span>
                </a>
              </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Notifications 
                  <span class="badge badge-danger notifications_badge">0</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profiles">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!--
      <div class="container">
        <div class="mt-2 mb-1">
            {% if messages %}
            {% for message in  messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    -->

    <!-- Page Content -->
    <div class="container">

      <div class="row">

         <!-- Blog Entries Column -->
         <div class="col-md-3">
          <div class="mt-4 card">
            <div class="card-body p-2">
              <div class="shadow-sm border p-2 mb-4" style="">
                <div class="user-bio-container" style="height:110px;">
                  <img src="http://placehold.it/100x100" style="height:100px;">
                  <div class="float-right p-2">
                    <div class="username-container p-1 font-weight-bold">User Name</div>
                    <div class="postcount-container p-1"><small>Joined: {{ date }}</small></div>
                    <div class="postcount-container p-1"><small>21 posts</small></div>
                  </div>
                </div>
              </div>
              <div>
                  <p class=""><a href="/advert/favourites/1" class="p-0">Favourites &#128156; 0</a></p>
              </div>
              <p class="">
                <button href="#" class="btn btn-sm btn-secondary" onclick="document.location='/advert/create';">Create New Advert</button>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
        {% block content %}
        
        {% endblock %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <form method="GET" action="/advert/search">
                  <input type="text" name="query" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-secondary" value="Go!"/>
                  </span>
                </form>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Adshare Categories</h5>
            <div class="card-body"> 
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    {% block category %}
                      
                    {% endblock %}
                  </ul> 
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Recent Ads</h5>
            <div class="card-body">
              All recent ads are displayed here
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="mt-4 py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Adshare 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/growl/javascripts/jquery.growl.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script>
      $(document).ready(function(){

        // Set messages and notifications on each load
        $.ajax({
          url: "/notifications",
          type: "POST",
          data: { 
            user_to: 1
          },
  
          // handle a successful response
          success: function(data) {
            console.log('Success', data);
            $('.notification_badge').text(data);
            // $.growl.notice({ title: "Success", message: "Notifications fetched" });
          },
  
          error: function(xhr, errmsg, err) {
            console.log('notifications error');
            $.growl.error({ message: "Error fetching notifications message" });
            
          }
      });


        {% block domready %}

        {% endblock %} 
      });

    </script>
    
  </body>

</html>
