<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minitweet - Home</title>
    <link rel='stylesheet' href="/css/bootstrap.min.css" >
    <link rel='stylesheet' href="/css/layout.css">
    <link rel='stylesheet' href="/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>

    <header>
      <nav class="">
          <ul class="topnav" id="myTopnav">
            <li class="active fa-home"><a href="/">Home</a></li>
            <li class="active"><a href="/">Home</a></li>
            <li class=""><a href="/">Best</a></li>
            <li class=""><a href="/">Pictures</a></li>
            <li class=""><a href="/">Contacts</a></li>
            <li class="icon" onclick="myFunction()"><a href="javascript:void(0)">&#9776;</a></li>
          </ul>
      </nav>
    </header>

            {% block content %}
                <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="input-form">
                  <form method="POST" action="/create/new"  enctype="multipart/form-data">
                    <input type="text" class="input-article" name="article" placeholder="add article here..." required><br>
                    <input type="file" name="file" value="Upload">
                    <input type="hidden" name="author" value="mark"><br>
                    <button type="submit" class="btn btn-block form-control">Post</button>
                  </form>
                </div>
                </div>
                <div class="col-md-2"></div>
                </div>
            {% endblock %}

  <footer>
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6">
        <p>This is a simple twitter clone.</p>
        <p>contacts</p>
        <p>about Minitweet</p>
        <p>Legal</p>
      </div>
      <div class="col-md-6">
        <p>Top feeds</p>
        <p>Premium Account</p>
        <p>T & C</p>
        <p>&copy; 2016</p>
      </div>
    </div>
    </div>
  </footer>
  </body>
</html>
