{% extends  'auth/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-4">
            <form class="form border p-2 shadow-sm bg-light" method="post" action="/auth/signup" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="username..." required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="username">Repeat Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="repeat password" required>
                </div>
                <div class="border p-2 bg-white rounded">
                    <button type="submit" class="btn btn-primary">
                        Sign Up
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}
