{% extends  'advert_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-4">
            <form class="form border p-2 shadow-sm bg-light" method="post" action="/advert/create/new" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="ad title here..." required><br>
                </div>
                <div class="form-group">
                    <label for="image">Upload File(optional)</label>
                    <input type="file" name="path" value="Upload">
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea type="text" class="form-control" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Category ID</label>
                    <select name="category_id" class="form-control">
                        {% for category in categories %}
                            <option value={{ category.id }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="border p-2 bg-white rounded">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}
