{% extends  'advert_base.html' %}

{% block content %}
    {{ parent() }}

    <div class="">

      {% for advert in data %}

      <h1 class="my-4">
        {{ article.title }}
      </h1>

      <!-- Single Advertisement -->
      <div class="card mb-4">
        {% if advert.path == "path/title/photo.png" %}
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="{{ advert.path }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ advert.title }}</h2>
          <p class="card-text">{{ advert.description }}</p>
          <div class="mt-2 shadow-sm">
            <button type="button" data-user-id="{{ advert.user_id }}" class="btn btn-primary btn-sm send-btn" data-toggle="modal" data-target="#messageModalCenter">
              Message
            </button>
            <a href="#" class="btn btn-secondary btn-sm mx-1">Comment</a>
            <a href="/advert/update/{{ advert.id }}" class="btn btn-primary btn-sm">edit</a>

            <button class="btn btn-sm float-right">
                &#128156; {{ advert.votes }}
            </button>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted {{advert.createdate|date}}
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="messageModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Message User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="message_form" class="message_form" method="POST" action="/message">
              <div class="modal-body">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea cols="4" class="form-control mb-4 message_text" name="message_text"></textarea>
                    <span>
                      <small class="bg-light p-2 shadow-sm text-danger">Don't forget your contact details details</small>
                    </span>
                  </div>
              </div>
              <input type="hidden" id="toId" type="text"/>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary btn-sm" value="Send Message">
              </div>
            </form>
          </div>
        </div>
      </div>




      {% endfor %}

     <div class="mt-4">
         <button class="btn btn-secondary" onclick="document.location='http://localhost:8000/advert';">Back to Advertisements</button>
     </div>
    
    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}

{% block domready %}
  function send_message() {
    console.log("Sending Message");
    $.ajax({
        url: "/message",
        type: "POST",
        data: { 
          message: $('.message_text').val(),
          user_from: '{{ user_id  }}',
          user_to: $('#toId').val()
        },

        // handle a successful response
        success: function(data) {
          $('.message_text').val('');
          console.log(data);
          console.log("comment success");
          
          $.growl.notice({ title: "Success", message: "Message sent!" });
          $('#messageModalCenter').modal('hide');
        },

        error: function(xhr, errmsg, err) {
          console.log('comment error');
          $.growl.error({ message: "Error sending message" });
          $('#messageModalCenter').modal('hide');
          
        }
    });
  };


  /* AJAX form submission */
  $('.message_form').on('submit', function(e) {
    e.preventDefault();
    send_message();
    return false;
  });

  $(".send-btn").on("click", function () {
    $("#toId").val($(this).data("user-id"));
  });


{% endblock %}