{% extends  'advert_base.html' %}

{% block content %}
    {{ parent() }}

      {% for advert in data %}

      <h4 class="p-2 bg-white" style="color:#704ba2;">
        {{ advert.title }}
      </h4>

      <!-- Single Advertisement -->
      <div class="card mb-4">
        {% if advert.path == "path/title/photo.png" %}
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% else %}
          <img class="card-img-top" src="{{ advert.path }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ advert.description }}</p>
          <a href="/advert/detail/{{ advert.id }}" class="btn btn-primary btn-sm">view &rarr;</a>

          <button class="btn btn-sm float-right likeAd" data-id="{{ advert.id }}" data-liker="{{ user_id }}">
              &#128156; <span>{{ advert.votes }}</span>
          </button>

          
        </div>
        <div class="card-footer text-muted">
            <small>&#128336; {{ advert.created_time }}</small>
        </div>
      </div>

      {% endfor %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    
{% endblock %}


{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}