{% extends  'advert_base.html' %}

{% block content %}
    {{ parent() }}
    {% for advert in results %}
        <h1 class="my-4">
            {{ advert.title }}
        </h1>
        <!-- Single Advertisement -->
        <div class="card mb-4">
            {% if advert.path == "path/title/photo.png" %}
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="{{ advert.path }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ advert.title }}</h2>
                <p class="card-text">{{ advert.description }}</p>
                <a href="/advert/detail/{{ advert.id }}" class="btn btn-primary btn-sm">view &rarr;</a>

                <button class="btn btn-sm float-right">
                    &#128156; {{ advert.votes }}
                </button>
            </div>
            <div class="card-footer text-muted">
                <small>&#128336; {{ advert.created_time }}</small>
            </div>
        </div>
    {% endfor %}
{% endblock %}