{% extends  'advert_base.html' %}

{% block content %}
{% for advert in data %}
    <div class="row">
        <div class="col-12 mt-4">
            <form class="form border p-2 shadow-sm " method="post" action="/advert/update" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="title" placeholder="add article here..." value="{{ advert.title }}" required><br>
                </div>
                <input type="hidden" name="post_id" value={{ advert.id }}>
                <div class="form-group">
                    <label for="image">Upload File(optional)</label>
                    <input type="file" name="path" value="Upload" required>
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea type="text" class="form-control" name="description" required>{{ advert.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="name">Category ID</label>
                    <select name="category_id" class="form-control" value={{ advert.category_id }}>
                        {% for category in categories %}
                            <option value={{ category.id }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="border p-2 bg-white rounded">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
  {% endfor %}
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}
