<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AdShare - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />

    

    <!-- Custom styles for this template -->
    <link href="/css/adverts-home.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 5px solid#f3da3d;">
      <div class="container">
        <a class="navbar-brand" href="/">Adshare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/advert">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Messages 
                  <span class="badge badge-danger message_badge">0</span>
                </a>
              </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Notifications 
                  <span class="badge badge-danger notifications_badge">0</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg profile-navbar--banner shadow" style="">
        <div class="container p-0">
            <a class="navbar-brand" href="/">
                <div class="p-2">
                    <img src="/uploads/users/malloy.jpg" class="profile-picture shadow" alt="profile picture">
            </a>

            <!-- update profile picture -->
            <button data-toggle="modal" data-target="#profilePictureModalCenter" class="btn btn-sm btn-default">update</button>

            <!-- update profile picture modal -->
            <div class="modal fade" id="profilePictureModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Message User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form name="" id="avatar_form" method="POST" action="/profiles/update/avatar" enctype="multipart/form-data">
                      <div class="modal-body">
                          <div class="form-group">
                            <img src="/uploads/users/malloy.jpg" alt="current_avatar">
                          </div>
                          <input type="hidden" name="user_id" value="{{ current_user[0]['id'] }}">
                          <input type="hidden" name="username" value="{{ current_user[0]['username'] }}">
                          <div class="form-group">
                            <label for="picture">Picture</label>
                            <input type="file" name="path" required>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="upload_avatar" class="btn btn-secondary btn-sm float-left" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-sm" value="Upload picture">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h3 class="nav-link">Mark Mbirira</h3>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- Flash messages -->
                {% if messages %}
                    <div class="container" style="">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Success: </strong> {{ message[0] }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--
      <div class="container">
        <div class="mt-2 mb-1">
            {% if messages %}
            {% for message in  messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    -->

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-12  bg-light border p-2 mt-4 shadow">
        {% block content %}
        
        {% endblock %}
        </div>

        
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="mt-4 py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/growl/javascripts/jquery.growl.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){

        // Set messages and notifications on each load
        $.ajax({
          url: "/notifications",
          type: "POST",
          data: { 
            user_to: 1
          },
  
          // handle a successful response
          success: function(data) {
            console.log('Success', data);
            $('.notification_badge').text(data);
            // $.growl.notice({ title: "Success", message: "Notifications fetched" });
          },
  
          error: function(xhr, errmsg, err) {
            console.log('notifications error');
            $.growl.error({ message: "Error fetching notifications message" });
            
          }
      });


        {% block domready %}

        {% endblock %} 
      });

    </script>
    
  </body>

</html>
